<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buinvent.jurassic_gains">

    <application
        android:allowBackup="true"
        android:icon="@drawable/jlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeekActivity" />
        <activity android:name=".DayActivity" />
        <activity android:name=".WorkoutActivity" />
        <activity
            android:name=".RoutineActivity"
            android:label="Customize Your Workout" />
        <activity android:name=".CustomDayActivity" />
    </application>

</manifest>