<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buinvent.jurassic_gains2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/jlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.buinvent.jurassic_gains2.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.buinvent.jurassic_gains2.WeekActivity" />
        <activity android:name="com.buinvent.jurassic_gains2.DayActivity" />
        <activity android:name="com.buinvent.jurassic_gains2.WorkoutActivity" />
        <activity
            android:name="com.buinvent.jurassic_gains2.RoutineActivity"
            android:label="Customize Your Routine" />
        <activity android:name="com.buinvent.jurassic_gains2.CustomDayActivity" />
    </application>

</manifest>